vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|04 Jun 2011 23:33:48 -0000
vti_extenderversion:SR|4.0.2.8912
vti_backlinkinfo:VX|runs/june\\ 4,\\ 2011\\ -\\ azalea\\ meadow\\ in\\ the\\ rain/slides/06-04-11\\ 092459.html runs/june\\ 4,\\ 2011\\ -\\ azalea\\ meadow\\ in\\ the\\ rain/slides/06-04-11\\ 093859.html runs/june\\ 4,\\ 2011\\ -\\ azalea\\ meadow\\ in\\ the\\ rain/slides/06-04-11\\ 101746.html runs/june\\ 4,\\ 2011\\ -\\ azalea\\ meadow\\ in\\ the\\ rain/slides/06-04-11\\ 095950-01.html runs/june\\ 4,\\ 2011\\ -\\ azalea\\ meadow\\ in\\ the\\ rain/index.html runs/june\\ 4,\\ 2011\\ -\\ azalea\\ meadow\\ in\\ the\\ rain/slides/06-04-11\\ 095024.html runs/june\\ 4,\\ 2011\\ -\\ azalea\\ meadow\\ in\\ the\\ rain/slides/06-04-11\\ 100200.html runs/june\\ 4,\\ 2011\\ -\\ azalea\\ meadow\\ in\\ the\\ rain/slides/06-04-11\\ 103844.html runs/june\\ 4,\\ 2011\\ -\\ azalea\\ meadow\\ in\\ the\\ rain/slides/06-04-11\\ 100452.html
vti_cacheddtm:TX|04 Jun 2011 23:33:48 -0000
vti_filesize:IR|1292
vti_cachedlinkinfo:VX|
vti_cachedsvcrellinks:VX|
