vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|02 Mar 2008 06:10:05 -0000
vti_extenderversion:SR|4.0.2.8912
vti_backlinkinfo:VX|runs/march\\ 1,\\ 2008\\ -/index.html
vti_cacheddtm:TX|04 Mar 2008 03:24:00 -0000
vti_filesize:IR|1292
vti_cachedlinkinfo:VX|
vti_cachedsvcrellinks:VX|
