vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|14 Mar 2008 06:20:39 -0000
vti_extenderversion:SR|4.0.2.8912
vti_backlinkinfo:VX|runs/march\\ 12,\\ 2008\\ -\\ wednesday\\ evening/index.html
vti_cacheddtm:TX|14 Mar 2008 06:20:39 -0000
vti_filesize:IR|1292
vti_cachedlinkinfo:VX|
vti_cachedsvcrellinks:VX|
