vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|15 Jul 2007 22:45:58 -0000
vti_extenderversion:SR|4.0.2.8912
vti_backlinkinfo:VX|runs/july\\ 14,\\ 2007\\ -\\ up/index.html runs/july\\ 14,\\ 2007\\ -\\ up/slides/img_4620.html runs/july\\ 14,\\ 2007\\ -\\ up/slides/img_4624.html runs/july\\ 14,\\ 2007\\ -\\ up/slides/img_4604.html runs/july\\ 14,\\ 2007\\ -\\ up/slides/img_4600.html runs/july\\ 14,\\ 2007\\ -\\ up/slides/img_4643.html runs/july\\ 14,\\ 2007\\ -\\ up/slides/img_4652.html runs/july\\ 14,\\ 2007\\ -\\ up/slides/img_4655.html runs/july\\ 14,\\ 2007\\ -\\ up/slides/img_4659.html runs/july\\ 14,\\ 2007\\ -\\ up/slides/img_4609.html runs/july\\ 14,\\ 2007\\ -\\ up/slides/img_4648.html
vti_cacheddtm:TX|15 Jul 2007 22:57:23 -0000
vti_filesize:IR|1292
vti_cachedlinkinfo:VX|
vti_cachedsvcrellinks:VX|
