vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|26 Aug 2006 01:14:39 -0000
vti_extenderversion:SR|4.0.2.8912
vti_backlinkinfo:VX|runs/may\\ 2,\\ 2006\\ -\\ coke\\ &\\ mentos/index.html runs/may\\ 2,\\ 2006\\ -\\ coke\\ &\\ mentos/slides/1.html runs/may\\ 2,\\ 2006\\ -\\ coke\\ &\\ mentos/slides/img_5283.html runs/may\\ 2,\\ 2006\\ -\\ coke\\ &\\ mentos/slides/img_5286.html runs/may\\ 2,\\ 2006\\ -\\ coke\\ &\\ mentos/slides/coke\\ &\\ mentos.html runs/may\\ 2,\\ 2006\\ -\\ coke\\ &\\ mentos/slides/ingredients.html
vti_cacheddtm:TX|26 Aug 2006 01:14:39 -0000
vti_filesize:IR|1292
vti_cachedlinkinfo:VX|
vti_cachedsvcrellinks:VX|
