vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|03 Dec 2010 01:08:06 -0000
vti_extenderversion:SR|4.0.2.8912
vti_backlinkinfo:VX|runs/november\\ 30,\\ 2010\\ -\\ tuesday\\ heather\\ cutoff/index.html
vti_cacheddtm:TX|03 Dec 2010 01:08:06 -0000
vti_filesize:IR|1292
vti_cachedlinkinfo:VX|
vti_cachedsvcrellinks:VX|
