vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|23 Mar 2007 21:00:28 -0000
vti_extenderversion:SR|4.0.2.8912
vti_backlinkinfo:VX|runs/march\\ 17,\\ 2006\\ -\\ colier\\ trail/slides/img_1683.html runs/march\\ 17,\\ 2006\\ -\\ colier\\ trail/index.html runs/march\\ 17,\\ 2006\\ -\\ colier\\ trail/slides/img_1689.html runs/march\\ 17,\\ 2006\\ -\\ colier\\ trail/slides/img_1505.html runs/march\\ 17,\\ 2006\\ -\\ colier\\ trail/slides/img_1544.html runs/march\\ 17,\\ 2006\\ -\\ colier\\ trail/slides/img_1656.html runs/march\\ 17,\\ 2006\\ -\\ colier\\ trail/slides/img_1688.html runs/march\\ 17,\\ 2006\\ -\\ colier\\ trail/slides/img_1513.html runs/march\\ 17,\\ 2006\\ -\\ colier\\ trail/slides/img_1566.html runs/march\\ 17,\\ 2006\\ -\\ colier\\ trail/slides/img_1631.html runs/march\\ 17,\\ 2006\\ -\\ colier\\ trail/slides/img_1680.html
vti_cacheddtm:TX|23 Mar 2007 21:00:28 -0000
vti_filesize:IR|1292
vti_cachedlinkinfo:VX|
vti_cachedsvcrellinks:VX|
