vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|20 Nov 2006 18:17:03 -0000
vti_extenderversion:SR|4.0.2.8912
vti_backlinkinfo:VX|runs/november\\ 19,\\ 2006\\ -\\ 101st\\ dipsea\\ anniversary/slides/img_8276.html runs/november\\ 19,\\ 2006\\ -\\ 101st\\ dipsea\\ anniversary/slides/quad1.html runs/november\\ 19,\\ 2006\\ -\\ 101st\\ dipsea\\ anniversary/slides/img_8271.html runs/november\\ 19,\\ 2006\\ -\\ 101st\\ dipsea\\ anniversary/slides/img_8284.html runs/november\\ 19,\\ 2006\\ -\\ 101st\\ dipsea\\ anniversary/index.html runs/november\\ 19,\\ 2006\\ -\\ 101st\\ dipsea\\ anniversary/slides/img_8263.html
vti_cacheddtm:TX|20 Nov 2006 18:17:03 -0000
vti_filesize:IR|1292
vti_cachedlinkinfo:VX|
vti_cachedsvcrellinks:VX|
