vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|27 Sep 2006 06:20:07 -0000
vti_extenderversion:SR|4.0.2.8912
vti_backlinkinfo:VX|runs/june\\ 11,\\ 2006\\ -\\ dipsea/slides/img_2727.html runs/june\\ 11,\\ 2006\\ -\\ dipsea/slides/img_2743.html runs/june\\ 11,\\ 2006\\ -\\ dipsea/index.html runs/june\\ 11,\\ 2006\\ -\\ dipsea/slides/dsc_0100.html runs/june\\ 11,\\ 2006\\ -\\ dipsea/slides/img_2716.html runs/june\\ 11,\\ 2006\\ -\\ dipsea/slides/img_2722.html runs/june\\ 11,\\ 2006\\ -\\ dipsea/slides/img_2739.html runs/june\\ 11,\\ 2006\\ -\\ dipsea/slides/1.html runs/june\\ 11,\\ 2006\\ -\\ dipsea/slides/img_2709.html
vti_cacheddtm:TX|27 Sep 2006 06:20:07 -0000
vti_filesize:IR|1292
vti_cachedlinkinfo:VX|
vti_cachedsvcrellinks:VX|
