vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|12 Dec 2010 22:55:08 -0000
vti_extenderversion:SR|4.0.2.8912
vti_backlinkinfo:VX|runs/december\\ 11,\\ 2010\\ -\\ cold/index.html
vti_cacheddtm:TX|12 Dec 2010 22:55:08 -0000
vti_filesize:IR|1292
vti_cachedlinkinfo:VX|
vti_cachedsvcrellinks:VX|
