vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|11 Aug 2007 06:02:29 -0000
vti_extenderversion:SR|4.0.2.8912
vti_backlinkinfo:VX|runs/july\\ 28,\\ 2007\\ -\\ fog/slides/img_4922.html runs/july\\ 28,\\ 2007\\ -\\ fog/slides/img_4939.html runs/july\\ 28,\\ 2007\\ -\\ fog/slides/img_4949.html runs/july\\ 28,\\ 2007\\ -\\ fog/slides/img_4871.html runs/july\\ 28,\\ 2007\\ -\\ fog/slides/img_4875.html runs/july\\ 28,\\ 2007\\ -\\ fog/slides/img_4944.html runs/july\\ 28,\\ 2007\\ -\\ fog/slides/img_4897.html runs/july\\ 28,\\ 2007\\ -\\ fog/slides/img_4910.html runs/july\\ 28,\\ 2007\\ -\\ fog/index.html runs/july\\ 28,\\ 2007\\ -\\ fog/slides/img_4873.html runs/july\\ 28,\\ 2007\\ -\\ fog/slides/img_4886.html runs/july\\ 28,\\ 2007\\ -\\ fog/slides/img_4903.html runs/july\\ 28,\\ 2007\\ -\\ fog/slides/img_4907.html
vti_cacheddtm:TX|11 Aug 2007 06:26:46 -0000
vti_filesize:IR|1292
vti_cachedlinkinfo:VX|
vti_cachedsvcrellinks:VX|
