vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|24 May 2007 05:05:07 -0000
vti_extenderversion:SR|4.0.2.8912
vti_backlinkinfo:VX|runs/may\\ 12,\\ 2007\\ -\\ van\\ wyck\\ meadow/slides/img_3461.html runs/may\\ 12,\\ 2007\\ -\\ van\\ wyck\\ meadow/slides/img_3465.html runs/may\\ 12,\\ 2007\\ -\\ van\\ wyck\\ meadow/slides/img_3491.html runs/may\\ 12,\\ 2007\\ -\\ van\\ wyck\\ meadow/slides/img_3277.html runs/may\\ 12,\\ 2007\\ -\\ van\\ wyck\\ meadow/slides/img_3474.html runs/may\\ 12,\\ 2007\\ -\\ van\\ wyck\\ meadow/slides/img_3493.html runs/may\\ 12,\\ 2007\\ -\\ van\\ wyck\\ meadow/index.html runs/may\\ 12,\\ 2007\\ -\\ van\\ wyck\\ meadow/slides/img_3486.html runs/may\\ 12,\\ 2007\\ -\\ van\\ wyck\\ meadow/slides/img_3482.html
vti_cacheddtm:TX|24 May 2007 05:05:07 -0000
vti_filesize:IR|1292
vti_cachedlinkinfo:VX|
vti_cachedsvcrellinks:VX|
