vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|10 Apr 2006 01:54:50 -0000
vti_extenderversion:SR|4.0.2.8912
vti_backlinkinfo:VX|runs/april\\ 8,\\ 2006\\ -\\ dipsea\\ opening\\ day/index.html runs/april\\ 8,\\ 2006\\ -\\ dipsea\\ opening\\ day/slides/img_1598.html runs/april\\ 8,\\ 2006\\ -\\ dipsea\\ opening\\ day/slides/img_1601.html runs/april\\ 8,\\ 2006\\ -\\ dipsea\\ opening\\ day/slides/img_1605.html runs/april\\ 8,\\ 2006\\ -\\ dipsea\\ opening\\ day/slides/img_1608.html runs/april\\ 8,\\ 2006\\ -\\ dipsea\\ opening\\ day/slides/img_1607.html runs/april\\ 8,\\ 2006\\ -\\ dipsea\\ opening\\ day/slides/img_1603.html
vti_cacheddtm:TX|10 Apr 2006 01:54:50 -0000
vti_filesize:IR|1292
vti_cachedlinkinfo:VX|
vti_cachedsvcrellinks:VX|
