vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|23 Jul 2006 04:48:22 -0000
vti_extenderversion:SR|4.0.2.8912
vti_backlinkinfo:VX|runs/july\\ 22,\\ 2006\\ -\\ heat/slides/img_4009.html runs/july\\ 22,\\ 2006\\ -\\ heat/slides/img_4029.html runs/july\\ 22,\\ 2006\\ -\\ heat/slides/img_4058.html runs/july\\ 22,\\ 2006\\ -\\ heat/slides/img_4060.html runs/july\\ 22,\\ 2006\\ -\\ heat/index.html runs/july\\ 22,\\ 2006\\ -\\ heat/slides/img_4044.html runs/july\\ 22,\\ 2006\\ -\\ heat/slides/img_4023.html runs/july\\ 22,\\ 2006\\ -\\ heat/slides/img_4046.html runs/july\\ 22,\\ 2006\\ -\\ heat/slides/img_4003.html runs/july\\ 22,\\ 2006\\ -\\ heat/slides/img_4036.html
vti_cacheddtm:TX|23 Jul 2006 04:48:22 -0000
vti_filesize:IR|1292
vti_cachedlinkinfo:VX|
vti_cachedsvcrellinks:VX|
